<!DOCTYPE html>
<html lange="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookmark Manager</title>
    {% include("@Front/Includes/stylesheets.html.twig") %}
</head>

<body class="text-center">
    {% block body %}
    {% endblock %}

{% include("@Front/Includes/scripts.html.twig") %}

</body>

</html>