/*
 * Cover
 */
.cover {
  padding: 1.5rem;
  margin: -7.5rem auto 0 auto;
  max-width: calc(100% - 10rem);
  width: 100%;
  background: white;
  border-radius: 0.2rem;

  .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  .btn-toolbar {
    float: left;
    margin-bottom: 1.5rem;
  }

  table {
    a {
      color: $dark;
      cursor: pointer;
    }

    a + a {
      margin-left: 1rem;
    }
  }

  .page-item {
    &.active {
      .page-link {
        background: $dark;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
  